<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/navbar::navbar"/>
<div th:replace="fragments/sidebar::sidebar"/>

<div class="row">
    <div class="col-12">
        <div class="card" >
            <div class="card-header">
                <h3 class="card-title">Product list </h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>product-Category</th>
                        <th>quantity_per_carton</th>
                        <th>product-images</th>
                        <th>In-stock</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:if="${products.size() > 0}" th:each="product:${products}">
                        <td th:text="${product.getId()}"></td>
                        <td th:text="${product.getName()}"></td>
                        <td th:text="${product.getPrice()}"></td>
                        <td th:if="${product.getCategory()!=null}" th:text="${product.getCategory().getName()}"></td>
                        <td th:text="${product.getQuantity_per_carton()}"></td>

                        <td>
                            <!--            <td  th:each="image: ${product.getImageDtos()}" th:text="${image.getName()}"/>-->
                            <img th:each="image: ${product.getImagePaths()}" th:src="@{${image}}" style="width: 120px">
                        </td>

                        <td th:text="${product.getInStock()}"></td>
                        <td>
                            <a th:href="@{/product/edit/{id}(id = ${product.getId()})}" class="btn btn-primary btn-sm mb-3"> Edit </a>
                            <a th:href="@{/product/delete/{id}(id = ${product.getId()})}" class="btn btn-primary btn-sm mb-3"> delete </a>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div th:replace="fragments/footer::footer"/>
</body>
</html>