<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/navbar::navbar"/>
<div th:replace="fragments/sidebar::sidebar"/>
<div class="content-wrapper" style="min-height: 1365.62px;">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">product-form</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form th:action="@{/product/add}" method="post" enctype="multipart/form-data" th:object="${product}">
        <div class="card-body">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="name">product-name</label>
                <input type="text" class="form-control" id="name"  th:field="*{name}" placeholder="product name">
            </div>
            <div class="form-group">
                <label>categories</label>
                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"  th:field="*{category.id}" data-select2-id="1" tabindex="-1" aria-hidden="true">
                    <option th:if="${product.getCategory()==null}"th:each="category:${categories}" th:value="${category.getId()}" th:text="${category.getName()}">
                    </option>
                    <option th:if="${product.getCategory()!=null}" th:each="category:${categories}" th:value="${category.getId()}" th:text="${category.getName()}"
                            th:selected="${product.getCategory().getId()}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">product-price</label>
                <input type="number" class="form-control" id="price"  th:field="*{price}" placeholder="product price">
            </div>
            <div class="form-group">
                <label for="quantity_per_carton">quantity per carton</label>
                <input type="number" class="form-control" id="quantity_per_carton"  th:field="*{quantity_per_carton}" placeholder="products per carton">
            </div>

            <div class="form-group">
                <label for="inStock">inStock</label>
                <input type="number" class="form-control" id="inStock"  th:field="*{inStock}" placeholder="initial stock of the product">
            </div>

            <div class="form-group">
                <label for="fileImages">File input</label>
                <div class="input-group">
                    <div class="custom-file">
                        <p>
                            <input type="file" name="fileImages" id = "fileImages" accept="image/png,image/jpeg" multiple>
                        </p>
                        <th:block th:if="${product.imageList!=null}">
                        <th:block th:if="${product.getImageList().size()>0}">
                            <span >
                            <img th:each="image: ${product.getImagePaths()}" th:src="@{${image}}" style="width: 120px">
                                </span>
                        </th:block>
                        </th:block>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

                </div></div>
        </div>
    </section>
</div>


<div th:replace="fragments/footer::footer"/>
</body>
</html>