<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/navbar::navbar"/>
<div th:replace="fragments/sidebar::sidebar"/>

<div class="row">
    <div class="col-12">
        <div class="card" >
            <div class="card-header">
                <h3 class="card-title">Inactive User List</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>User-name</th>
                        <th>NID-TIN Images</th>
                        <th>Enabled-Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:if="${users.size() > 0}" th:each="user:${users}">
                        <td th:text="${user.getId()}"></td>
                        <td th:text="${user.getUsername()}"></td>
                        <td>
                            <!--            <td  th:each="image: ${product.getImageDtos()}" th:text="${image.getName()}"/>-->
                            <img th:each="image: ${user.getImagePaths()}" th:src="@{${image}}" style="width: 120px">
                        </td>

                        <td th:if="${user.isEnabled()}" th:text="active"/>
                        <td th:if="${!user.isEnabled()}" th:text="'Not Active'"/>
                         <td>
                             <a th:href="@{/admin/approve-dealer/{id}(id = ${user.getId()})}" class="btn btn-primary btn-sm mb-3"> Activate-user </a>
                         </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<div th:replace="fragments/footer::footer"/>
</body>
</html>