<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/navbar::navbar"/>
<div th:replace="fragments/sidebar::sidebar"/>

<div class="row">
    <div class="col-12">
        <div class="card" >
            <div class="card-header">
                <h3 class="card-title">Unapproved Requisition List</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Requisition reference id</th>
                        <th>User Name</th>
                        <th>Requisition Total</th>
                        <th>Requsition Due</th>
                        <th>Requisition Payment Transaction Id</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:if="${requisitions.size()>0}" th:each="requisition:${requisitions}">
                        <td th:text="${requisition.getId()}"></td>
                        <td th:text="${requisition.getReferenceId()}"></td>
                        <td th:text="${requisition.user.username}"></td>
                        <td th:text="${requisition.getTotal()}"></td>
                        <td th:text="${requisition.getPaymentDue()}"></td>
                        <td>
                            <span th:each="transaction:${requisition.getPayments()}" th:text="${transaction.isReceivedStatus()}+${transaction.transactionId}" ></span>
                            <!--                            <span th:each="transaction:${requisition.getPayments()}" th:if="${transaction.isReceivedStatus()==false}" th:text="payment not recived yet"></span>-->
                            <!--                            <span th:each="transaction:${requisition.getPayments()}" th:if="${transaction.isReceivedStatus()==true}" th:text="payment  recived"></span>recived-->
                        </td>
                        </td>
                        <td>
                            <a th:href="@{/approval/requisition/delivery-incharge/approve/{id}(id = ${requisition.getId()})}" class="btn btn-primary btn-sm mb-3"> Approve </a>
                            <a th:href="@{/requisition/show/{id}(id = ${requisition.getId()})}" class="btn btn-primary btn-sm mb-3"> View </a>

                        </td>


                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div th:replace="fragments/footer::footer"/>
</body>
</html>