<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/navbar::navbar"/>
<div th:replace="fragments/sidebar::sidebar"/>

<div class="row">
    <div class="col-12">
        <div class="card" >
            <div class="card-header">
                <h3 class="card-title">Requisition info</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Requisition-Total</th>
                        <th>User-Name</th>
                        <th>createdAt</th>
                        <th>sentForPaymentVerification</th>
                        <th>firstPaymentApproved</th>
                        <th>approvedByInventoryManager</th>
                        <th>paymentClear</th>
                        <th>receivedByUser</th>
                        <th>approvedByDeliveryIncharge</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td th:text="${requisition.getId()}"></td>
                        <td th:text="${requisition.getTotal()}"></td>
                        <td th:text="${requisition.getUser().getUsername()}"></td>
                        <td th:text="${requisition.getCreatedAt()}"></td>
                        <td th:text="${requisition.sentForPaymentVerification}"></td>
                        <td th:text="${requisition.firstPaymentApproved}"></td>
                        <td th:text="${requisition.approvedByDeliveryIncharge}"></td>
                        <td th:text="${requisition.paymentClear}"></td>
                        <td th:text="${requisition.receivedByUser}"></td>
                        <td th:text="${requisition.approvedByDeliveryIncharge}"></td>
<!--                        <td th:if="${product.getCategory()!=null}" th:text="${product.getCategory().getName()}"></td>-->
<!--                        <td th:text="${product.getQuantity_per_carton()}"></td>-->
<!--                        <td>-->
<!--                            &lt;!&ndash;            <td  th:each="image: ${product.getImageDtos()}" th:text="${image.getName()}"/>&ndash;&gt;-->
<!--                            <img th:each="image: ${product.getImagePaths()}" th:src="@{${image}}" style="width: 120px">-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <a th:href="@{/product/edit/{id}(id = ${product.getId()})}" class="btn btn-primary btn-sm mb-3"> Edit </a>-->
<!--                            <a th:href="@{/product/delete/{id}(id = ${product.getId()})}" class="btn btn-primary btn-sm mb-3"> delete </a>-->
<!--                        </td>-->

                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card" >
            <div class="card-header">
                <h3 class="card-title">Requisition Items info</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity_per_cartoon</th>
                        <th>quantity</th>
                        <th>price</th>
                        <th>Image</th>
                        <th>paymentDue</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="item:${requisition.getItems()}">
                        <td th:text="${item.getName()}"></td>
                        <td th:text="${item.getQuantity_per_carton()}"></td>
                        <td th:text="${item.getQuantity()}"></td>
                        <td th:text="${item.getPrice()}"></td>

                        <!--                        <td th:if="${product.getCategory()!=null}" th:text="${product.getCategory().getName()}"></td>-->
                        <!--                        <td th:text="${product.getQuantity_per_carton()}"></td>-->
                        <!--                        <td>-->
                        <!--                            &lt;!&ndash;            <td  th:each="image: ${product.getImageDtos()}" th:text="${image.getName()}"/>&ndash;&gt;-->
                        <!--                            <img th:each="image: ${product.getImagePaths()}" th:src="@{${image}}" style="width: 120px">-->
                        <!--                        </td>-->
                        <!--                        <td>-->
                        <!--                            <a th:href="@{/product/edit/{id}(id = ${product.getId()})}" class="btn btn-primary btn-sm mb-3"> Edit </a>-->
                        <!--                            <a th:href="@{/product/delete/{id}(id = ${product.getId()})}" class="btn btn-primary btn-sm mb-3"> delete </a>-->
                        <!--                        </td>-->

                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card" >
            <div class="card-header">
                <h3 class="card-title">Requisition payment history</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Paid Amount</th>
                        <th>Account Number</th>
                        <th>Transaction Id</th>
                        <th>Payment-method</th>
                        <th>Requisition reference</th>
                        <th>paid By</th>
                        <th>Received Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr  th:each="payment:${requisition.getPayments()}">
                        <td th:text="${payment.getId()}"></td>
                        <td th:text="${payment.getPaidAmount()}"></td>
                        <td th:text="${payment.getAccountNumber()}"></td>
                        <td th:text="${payment.getTransactionId()}"></td>
                        <td th:text="${payment.getPaymentMethod()}"></td>
                        <td th:text="${payment.getRequisition().getReferenceId()}"></td>
                        <td th:text="${payment.user.username}"></td>
                        <td th:text="${payment.isReceivedStatus()}"></td>
                        <th:block sec:authorize="hasAnyAuthority('accounts_manager')">

                        <td>
                            <a th:href="@{/payment/approve/{id}(id = ${payment.getId()})}" class="btn btn-primary btn-sm mb-3"> Approve </a>
                        </td>
                        </th:block>

                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div th:replace="fragments/footer::footer"/>
</body>
</html>