<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/navbar::navbar"/>
<div th:replace="fragments/sidebar::sidebar"/>

<th:block th:if="${message}!=null">
    <span th:text="${message}"></span>
</th:block>
<div class="row">
    <div class="col-12">
        <th:block th:if="${shortProducts}!=null">
            <th:block th:if="${shortProducts.size() > 0}">


                <div class="card-body table-responsive p-0" style="height: 500px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th> Name</th>
                            <th>Inventory-stock</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr  th:each="product:${shortProducts}">
                            <td th:text="${product.getId()}"></td>
                            <td th:text="${product.getName()}"></td>
                            <td th:text="${product.getInStock()}"></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </th:block>
        </th:block>
        <div class="card" >
            <div class="card-header">
                <h3 class="card-title">Requisition LIst</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Requisition reference id</th>
                        <th>User Name</th>
                        <th>Requisition Total</th>
                        <th>Requsition Due</th>
                        <th>transaction Recived status</th>
                        <th>Requisition Payment Transaction Id</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:if="${requisitions.size()>0}" th:each="requisition:${requisitions}">
                        <td th:text="${requisition.getId()}"></td>
                        <td th:text="${requisition.getReferenceId()}"></td>
                        <td th:text="${requisition.user.username}"></td>
                        <td th:text="${requisition.getTotal()}"></td>
                        <td th:text="${requisition.getPaymentDue()}"></td>
                        <td>
                            <span th:each="transaction:${requisition.getPayments()}" th:text="${transaction.isReceivedStatus()}" ></span>
                            <!--                            <span th:each="transaction:${requisition.getPayments()}" th:if="${transaction.isReceivedStatus()==false}" th:text="payment not recived yet"></span>-->
                            <!--                            <span th:each="transaction:${requisition.getPayments()}" th:if="${transaction.isReceivedStatus()==true}" th:text="payment  recived"></span>recived-->
                        </td>
<!--                        <td>-->
<!--                            <span th:each="transaction:${requisition.getPayments()}" th:if="${transaction.isReceivedStatus()}" > payment received <br></span>-->

<!--                        </td>-->
                        <td>
                            <span th:each="transaction:${requisition.getPayments()}" th:text="${transaction.transactionId}"> <br></span>


                        </td>
                        <td>
<!--                            <th:block th:if="${requisition.isApprovedByInventoryManager()!=true}">-->
<!--                                <a th:href="@{/approval/requisition/inventory_manager/{id}(id = ${requisition.getId()})}" class="btn btn-primary btn-sm mb-3"> Approve </a>-->
<!--                            </th:block>-->
                            <th:block th:if="${requisition.sentForPaymentVerification!=true}">
                                <a th:href="@{/approval/requisition/inventory_manager/sent-for-payment-verification/{id}(id = ${requisition.getId()})}" class="btn btn-primary btn-sm mb-3">send-for-payment-verification</a>
                            </th:block>

                            <th:block th:if="${requisition.sentForPaymentVerification==true}">
                                <a th:href="@{/approval/requisition/inventory_manager/approveRequisition/{id}(id = ${requisition.getId()})}" class="btn btn-primary btn-sm mb-3">Approve</a>
                            </th:block>

<!--                            <a th:href="@{/approval/requisition/inventory_manager/{id}(id = ${requisition.getId()})}" class="btn btn-primary btn-sm mb-3"> Approve </a>-->
                            <a th:href="@{/requisition/show/{id}(id = ${requisition.getId()})}" class="btn btn-primary btn-sm mb-3"> View </a>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div th:replace="fragments/footer::footer"/>
</body>
</html>