<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"

>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar">
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img th:src="@{/admin/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar" >
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img th:src="@{/admin/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">


                    <a href="#" class="d-block" sec:authorize="isAuthenticated()"> <span sec:authentication="name"/></a>
                    <br>

                    <a class="d-block" th:each="authority:${#authentication.getAuthorities()}" th:text="'Role:'+ ${authority.authority}"></a>
                    <br>
                    <a th:href="@{/logout}" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </a>
<!--                    <div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>-->



                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <li class="nav-item"   sec:authorize="hasAnyAuthority('accounts_manager')">
                        <a href="#" class="nav-link active" >
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Accounts manager
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/payment/pending}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Payment Pending for Approval</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/approval/requisition/account_manager}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Requisitions Pending for Approval</p>
                                </a>
                            </li>


                        </ul>
                    </li>


                    <li class="nav-item"   sec:authorize="hasAnyAuthority('admin')">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Product
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/product/list}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>product-list</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/product/add}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Add-Product</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item"   sec:authorize="hasAnyAuthority('admin')">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Approve-user
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/admin/inactive-userList}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Inactive-User-list</p>
                                </a>
                            </li>

                        </ul>
                    </li>


                    <li class="nav-item"   sec:authorize="hasAnyAuthority('admin')">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Category
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/category/list}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>category-list</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/category/add}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Add-category</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item"   sec:authorize="hasAnyAuthority('dealer')">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Requisition
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/dealer/requisition/all}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>See-all-your-requisition</p>
                                </a>
                            </li>

                        </ul>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/dealer/requisition/pending-for-dealer-approval}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Requisition-pending-for-your-approval</p>
                                </a>
                            </li>

                        </ul>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/requisition/add-item}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Make-requisition</p>
                                </a>
                            </li>

                        </ul>

                    </li>


                    <li class="nav-item"   sec:authorize="hasAnyAuthority('dealer')">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Payment
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>

                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/payment/due}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Due Payment form</p>
                                </a>
                            </li>

                        </ul>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/dealer/payments/all}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>All-your-payments</p>
                                </a>
                            </li>

                        </ul>
                    </li>









                    <li class="nav-item"   sec:authorize="hasAnyAuthority('inventory_manager')">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Inventory Manager
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/approval/requisition/inventory_manager/first-payment-verification-pending}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Pending-For-First-Payment-Verification</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a th:href="@{/approval/requisition/inventory_manager/delivery-pending}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>pending-for-delivery</p>
                                </a>
                            </li>


                        </ul>
                    </li>


                    <li class="nav-item"   sec:authorize="hasAnyAuthority('delivery_incharge')">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                delivery-incharge
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/approval/requisition/delivery-incharge/unapprovedRequisitions}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Pending-Verification</p>
                                </a>
                            </li>



                        </ul>
                    </li>




                </ul>


            </nav>

            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

</div>


</body>
</html>