<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/navbar::navbar"/>
<div th:replace="fragments/sidebar::sidebar"/>


<div class="row">
    <div class="col-12">
        <div class="card" >
            <div class="card-header">
                <h3 class="card-title">Dealer payment history</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Paid Amount</th>
                        <th>Account Number</th>
                        <th>Transaction Id</th>
                        <th>Payment-method</th>
                        <th>Requisition reference</th>
                        <th>paid By</th>
                        <th>Received Status</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr  th:each="payment:${payments}">
                        <td th:text="${payment.getId()}"></td>
                        <td th:text="${payment.getPaidAmount()}"></td>
                        <td th:text="${payment.getAccountNumber()}"></td>
                        <td th:text="${payment.getTransactionId()}"></td>
                        <td th:text="${payment.getPaymentMethod()}"></td>
                        <td th:text="${payment.getRequisition().getReferenceId()}"></td>
                        <td th:text="${payment.user.username}"></td>
                        <td th:text="${payment.isReceivedStatus()}"></td>


                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div th:replace="fragments/footer::footer"/>
</body>
</html>