<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Category-List</title>
</head>
<body>

<div th:replace="fragments/navbar::navbar"/>
<div th:replace="fragments/sidebar::sidebar"/>

<div class="row">
    <div class="col-12">
        <div class="card" >
            <div class="card-header">
                <h3 class="card-title">category-list</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>category-name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:if="${categories.size() > 0}" th:each="category:${categories}">
                        <td th:text="${category.getId()}"></td>
                        <td th:text="${category.getName()}"></td>
                        <td>
                            <a th:href="@{/category/edit/{id}(id = ${category.getId()})}" class="btn btn-primary btn-sm mb-3"> Edit </a>
                            <a th:href="@{/category/delete/{id}(id = ${category.getId()})}" class="btn btn-primary btn-sm mb-3"> delete </a>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<div th:replace="fragments/footer::footer"/>
</body>
</html>