<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<div th:replace="fragments/navbar::navbar"/>
<div th:replace="fragments/sidebar::sidebar"/>

<h1> Welcome</h1>

<!--&lt;!&ndash;<th:block th:if="${session.items!=null}">&ndash;&gt;-->
<!--&lt;!&ndash;    <h1 th:each="el:${session.items.getProducts()}" th:text="${el.getName()}"></h1>&ndash;&gt;-->
<!--&lt;!&ndash;</th:block>&ndash;&gt;-->

<!--<p>-->
<!--    <a class="btn btn-primary addToCart"-->

<!--       th:href="@{'/test/add'}">Add to cart</a>-->
<!--    <img class="ajaxLoader d-none" src="/images/ajax-loader.gif">-->
<!--</p>-->

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            Project Description
        </h3>
    </div>

        <div class="tab-custom-content">
            <p class="lead mb-0">Supply chain Management</p>
        </div>
        <div class="tab-content" id="custom-content-above-tabContent">
            <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                A supply chain involves the process of supplying products starting from manufacturing to distribution to dealers.
                Sometimes it also involves distributing to retailers and customers. (https://blog.procurify.com/2014/10/28/difference-procurement-supply-chain-management/) The supply
                chain management system we are going to develop will only contain the flow of distributing from company’s inventory to dealers.
                The dealer will be registered by filling up the dealer registration form, but will be approved by a dealer approver inside the
                company's side. For registration, the dealer will have to provide the dealer's NID scanned copy, TIN certificate scanned copy as
                the mandatory documents including his other information. The dealer approver will cross match his NID and TIN Certificates
                scanned copies in the database. After the approver approves, the dealer will be able to create a requisition to the company’s
                inventory manager. While creating the requisition, he will provide the transaction ID, payment method name, account number and
                initially paid amount as mandatory field. If he has due, he will have to pay the due before the next requisition.
                The inventory manager will then forward the transaction ID and initially paid amount to the Accounts manager.
                Once the accounts manager confirms the amount received, the inventory manager will be able to send the product to that dealer.
                To provide the due, the dealer will have to fill up the due payment form with the transaction ID, payment method name,
                account number and payment amount, which will be directly submitted to the accounts manager. The delivery process will be taken
                part by initiating a load requisition submitted by delivery in charge. He will submit the item type(cartoon size * cartons per lot).
                After submitting this requisition, when the inventory manager approves the lot, the delivery in charge will be good to go. When the Delivery in charge delivers the lot to the dealer, he will request for the consent through the application. Once he approves, the delivery process is finalized.
            </div>

        </div>
    </div>
    <!-- /.card -->
</div>
<!--<script>-->

<!--    $("a.addToCart").click(function (e) {-->
<!--        e.preventDefault();-->

<!--        $.ajax({-->
<!--            type: "GET",-->
<!--            url: "/test/add",-->

<!--            success :function(result) {-->

<!--                var row = `<tr>-->
<!--                                <td>hello</td>-->
<!--                                 </tr>`;-->
<!--                $(".table-body").append(row);-->


<!--            } ,-->
<!--            error: function (err) {-->
<!--                console.log(err);-->
<!--            }-->
<!--        });-->
<!--    });-->

<!--</script>-->
<div th:replace="fragments/footer::footer"/>

</body>
</html>