<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">

<!--           <th:block th:if="${message}!=null">-->
<!--             <span th:text="${message}"></span>-->
<!--           </th:block>-->
            <div th:if="${param.error}" class="alert alert-danger">
                <span>Invalid username and password or account not approved</span>
            </div>
            <a href="../../index2.html" class="h1"><b>ACCOUNT</b>LOGIN</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form method="post" th:action="@{/login-processing}">
                <div class="input-group mb-3">

                    <input  class="form-control" name="username" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
<!--                            <input type="checkbox" id="remember">-->
<!--                            <label for="remember">-->
<!--                                Remember Me-->
<!--                            </label>-->
                        </div>
                    </div>
<!--                     /.col-->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center mt-2 mb-3">
<!--                <a href="#" class="btn btn-block btn-primary">-->
<!--                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook-->
<!--                </a>-->
<!--                <a href="#" class="btn btn-block btn-danger">-->
<!--                    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+-->
<!--                </a>-->
            </div>
            <!-- /.social-auth-links -->

<!--            <p class="mb-1">-->
<!--                <a href="forgot-password.html">I forgot my password</a>-->
<!--            </p>-->
            <p class="mb-0">
                <a th:href="@{/dealer/register-page}" class="text-center">Register a new membership</a>
            </p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<div th:replace="fragments/footer::footer"></div>
</body>
</html>