<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <a th:href="@{/dealer/register-page}"><b>Dealer</b>Registration</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">

            <th:block th:if="${message}!=null">
                <span th:text="${message}"></span>
            </th:block>

            <p class="login-box-msg">create a new Dealer Account</p>

            <form th:action="@{/register}" method="post" th:object="${user}" enctype="multipart/form-data">
                <div class="input-group mb-3">

                    <input type="text" class="form-control" th:field="*{username}" placeholder="Full name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" th:field="*{email}" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="fileImages" >image</label>
                    <p>
                        <input type="file" name="fileImages" id = "fileImages" accept="image/png,image/jpeg" multiple>
                    </p>
                </div>


<!--                <div class="input-group mb-3">-->
<!--                    &lt;!&ndash; <label for="customFile">Custom File</label> &ndash;&gt;-->

<!--                    <div class="custom-file">-->
<!--                        <input type="file" name="fileImages" id = "fileImages" accept="image/png,image/jpeg" multiple>-->
<!--                        <label class="custom-file-label" for="fileImages">Choose file</label>-->
<!--                    </div>-->
                <div class="input-group mb-3">
                    <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
<!--                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">-->
<!--                            <label for="agreeTerms">-->
<!--                                I agree to the <a href="#">terms</a>-->
<!--                            </label>-->
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
<!--                <p>- OR -</p>-->
<!--                <a href="#" class="btn btn-block btn-primary">-->
<!--                    <i class="fab fa-facebook mr-2"></i>-->
<!--                    Sign up using Facebook-->
<!--                </a>-->
<!--                <a href="#" class="btn btn-block btn-danger">-->
<!--                    <i class="fab fa-google-plus mr-2"></i>-->
<!--                    Sign up using Google+-->
<!--                </a>-->
            </div>

<!--            <a href="login.html" class="text-center">I already have a membership</a>-->
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->

<div th:replace="fragments/footer::footer"></div>
</body>
</html>