<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/header::header" charset="UTF-8">
    <title>add-item</title>
</head>
<body>

<div th:replace="fragments/navbar::navbar"/>
<div th:replace="fragments/sidebar::sidebar"/>

<!--<div class="container" >-->
<!--    <form class="form form-control">-->
<!--        <input type="hidden" name="id"/>-->
<!--        &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--        Name: <input type="text" name="name"/><br><br>-->
<!--        &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--        <button class="btn badge-primary">Save</button>-->
<!--        </select><br><br>-->

<!--        Department: <select id ="depId" name="depId" class="all-dep">-->
<!--        <option value="">Select your Deparment</option>-->
<!--        <option th:each="dep : ${categories}"-->
<!--                th:value="${dep.getId()}"-->
<!--                th:text="${dep.getName()}"></option>-->
<!--    </select><br><br>-->

<!--        </select><br><br>-->


<!--Semester : <select id ="semesterId" name="semId" class="all-semester">-->

<!--</select>-->
<!--</form>-->
<!--</div>-->
<th:block th:if="${user.paymentClearStatus == true}">
<section class="content">
    <div class="container-fluid">
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">ADD-ITEM</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form th:action="@{/cart/add-item}"  th:object="${product}" method="post" id="wishform">

        <div class="form-group">
            <label>Category</label>
            <select class="form-control select2 select2-hidden-accessible"  style="width: 100%;" data-select2-id="9" tabindex="-1" aria-hidden="true" id ="depId">
                <option value=0>select category</option>
                        <option th:each="cat : ${categories}"
                                th:value="${cat.getId()}"
                                th:text="${cat.getName()}"></option>
            </select>
            <div class="loader" id="loader" style="display:none" >

            </div>
            <label>Product</label>
            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" th:field="*{id}" data-select2-id="9" tabindex="-1" aria-hidden="true" id ="productId">

            </select>

        </div>
        <div class="loader" id="loader1" style="display:none" >

        </div>
        <p id="qty">

        </p>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>


</form>
    </div>
    </div>





</div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">product info</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>price</th>
                                <th>Quantity per carton</th>
                                <th style="width: 120px">image</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->

            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


<div class="row">
    <div class="card-header">
        <h3 class="card-title">Cart-items</h3>
        <br>
        <a th:href="@{/cart/clear}" class="btn btn-primary btn-sm mb-3"> clear cart </a>
    </div>
    <div class="col-12 table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Product</th>
                <th>products-per-carton</th>
                <th>ordered-carton</th>
                <th>total-qty</th>
                <th>Price-per-unit</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:if="${session.items!=null}">
                <tr th:each="el: ${session.items}">
                    <td th:text="${el.getValue().getName()}"></td>
                    <td th:text="${el.getValue().getQuantity_per_carton()}"></td>
                    <td th:text="${el.getValue().getQuantity()}"></td>
                    <td th:text="${el.getValue().getQuantity()*el.getValue().getQuantity_per_carton()}"></td>
                    <td th:text="${el.getValue().getPrice()}"></td>
                    <td th:text="${(el.getValue().getPrice())*(el.getValue().getQuantity())*(el.getValue().getQuantity_per_carton())}"></td>
            </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <!-- /.col -->
</div>

<br>
<br>
<div class="col-6">
    <p class="lead" th:text="'Ammount payable Date: ' +${#dates.createToday()}"></p>


    <div class="table-responsive">
        <table class="table">
            <tbody><tr>
                <th style="width:50%">Subtotal:</th>
                <td th:if="${session.total !=null}" th:text="${session.total}"></td>
            </tr>
            <tr>
                <th>Total Products</th>
                <td th:if="${session.size!=null}" th:text="${session.size}"></td>
            </tr>
<!--            <tr>-->
<!--                <th>Shipping:</th>-->
<!--                <td>$5.80</td>-->
<!--            </tr>-->
            <tr>
                <th>Total:</th>
                <td th:if="${session.total!=null}" th:text="'$'+${session.total}"></td>
            </tr>
            </tbody></table>
        <div class="col-12">
            <a th:if="${session.total!=null}" th:href="@{/payment/add}" rel="noopener" target="_blank" class="btn btn-default">
            <button  type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Proceed to payment
            </button>
            </a>
        </div>
    </div>
</div>
</th:block>
<th:block th:if="${user.paymentClearStatus==false}">
    <div class="small-box bg-info">
        <div class="inner">
            <h3 th:text="${user.paymentDue}"></h3>

            <p>Requisition due</p>
        </div>
        <div class="icon">
            <i class="fas fa-shopping-cart"></i>
        </div>
        <a href="#" class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</th:block>


<div th:replace="fragments/footer::footer"/>
</body>
</html>